In [1]:
s = set()

In [2]:
# .add() adds new values to a set

s.add(1)

In [3]:
s

{1}

In [4]:
s.add(2)

In [5]:
s.add(3)

In [6]:
s

{1, 2, 3}

In [7]:
# remember that sets do not have duplicate values

s.add(3)
s

{1, 2, 3}

In [8]:
# .clear() will remove all values from a set

s.clear()

In [9]:
# .copy() returns a copy of a set

s = {1,2,3}

In [11]:
sc = s.copy()

In [12]:
sc

{1, 2, 3}

In [13]:
# note that the original will still be separate from the copied version

s.add(4)
print(s)
print(sc)

{1, 2, 3, 4}
{1, 2, 3}

In [14]:
# .difference() shows any values that don't appear in both sets

s.difference(sc)

{4}

In [15]:
# .difference_update() will only return the unique values from the first set

s1 = {1,2,3}

s2 = {1,4,5}

s1.difference_update(s2)

In [16]:
s1

{2, 3}

In [17]:
# discard will remove a specific element

s

{1, 2, 3, 4}

In [18]:
s.discard(2)
s

{1, 3, 4}

In [19]:
# .intersection() returns values that appear in both sets

s1 = {1,2,3}

s2 = {1,2,4}

s1.intersection(s2)

{1, 2}

In [20]:
# intersection_update() will update a set with the intersection values

s1.intersection_update(s2)
s1

{1, 2}

In [21]:
# .isdisjoint() returns true if 2 sets have a null intersection

s1 = {1,2}

s2 = {1,2,4}

s3 = {5}

In [23]:
s1.isdisjoint(s2)

False

In [24]:
s1.isdisjoint(s3)

True

In [25]:
# .issubset() will check if one set is a subset of another

s1.issubset(s2)

True

In [26]:
s1.issubset(s3)

False

In [27]:
# .issuperset() checks if a set contains the set passed in - inverse of issubset

s1.issuperset(s2)

False

In [28]:
s2.issuperset(s1)

True

In [29]:
# symmetric difference of sets - all elements that are in exactly one set

s1.symmetric_difference(s2)

{4}

In [30]:
s1.symmetric_difference(s3)

{1, 2, 5}

In [31]:
# update a set with its symmetric difference

s1.symmetric_difference_update(s2)
s1

{4}

In [32]:
# union of two sets - put all unique values together in one set

s1 = {1,2}

s2 = {1,2,4}

s3 = {5}

In [33]:
s1.union(s2)

{1, 2, 4}

In [34]:
s1.union(s3)

{1, 2, 5}

In [36]:
# .update() includes the union of itself and others - same results as before

s1.update(s2)
s1

{1, 2, 4}

In [37]:
# now including s3 as well in update

s1.update(s3)
s1

{1, 2, 4, 5}