## map

Map takes in two arguments - a function and a sequence:

map(function, sequence)

Map applies the function to all elements of the sequence

It returns a list with the elements changed by the function

In [1]:
# take in Celsius and return Farenheit

def farenheit(T):
    return 9/5 * T + 32

In [2]:
farenheit(0)

32.0

In [3]:
farenheit(40)

104.0

In [4]:
# what if we wanted to apply function to all values in a list of temperatures?

temp = [0, 22.5, 40, 100]

In [12]:
# we can use map in this case

mapped = map(farenheit, temp)

mapped

In [13]:
# must cast to a list to make it show up

list(mapped)

[32.0, 72.5, 104.0, 212.0]

In [14]:
# we could also use a lambda expression to avoid creating a function that will only be used once

mapped2 = map(lambda x: 9/5 * x + 32, temp)

mapped2

In [15]:
list(mapped2) # same results

[32.0, 72.5, 104.0, 212.0]

In [17]:
# we can pass more than one sequence into map and call items from each

a = [1,2,3]
b = [4,5,6]
c = [7,8,9]

mapped3 = map(lambda x,y,z: x+y+z, a, b, c)

In [18]:
list(mapped3)

[12, 15, 18]

In [20]:
# one more example of map - multiple each number in a list by -1 (using list a from above)

mapped4 = map(lambda x: -1*x, a)

In [21]:
list(mapped4)

[-1, -2, -3]

## reduce

Reduce is also very useful in conjunction with lambda expressions

Format is similar to map but does very different stuff

reduce(function, sequence) continually applies the function to the sequence until it reaches a single value

In other words, it will take the result from the previous calculation and apply it to the next value in a sequence

It continues until only one element is left

In [22]:
listy = [47, 11, 42, 13]

In [24]:
from functools import reduce

reduced = reduce(lambda x,y: x+y, listy)

In [26]:
# first adds the first two numbers, then the third, then the fourth, and returns sum of all numbers in sequence

reduced

113

In [27]:
# another example to find max

listy2 = [34, 23, 24, 24, 100, 2333, 2, 11]

In [28]:
# easy way to do it with built in max function

max(listy2)

2333

In [29]:
# building from scratch with reduce

max_find = lambda x, y: x if (x>y) else b

In [30]:
# redoing as a normal function

def max_find(x, y):
    
    if x > y:
        return x
    else:
        return y

In [31]:
max_find(12, 100)

100

In [32]:
# using reduce to find max

reduce(max_find, listy2)

2333

## filter

The filter function offers a convenient way to filter out elements of iterables that do not return True

The function passed into filter must return a boolean

The result only contains elements where the function returned True

In [36]:
def even_check(num):
    
    return num % 2 == 0

In [37]:
even_check(34)

True

In [38]:
even_check(35)

False

In [45]:
listy = range(11)

In [46]:
# using filter with even check and listy to only return even numbers

results = filter(even_check, listy)

list(results)

[0, 2, 4, 6, 8, 10]

In [47]:
# same thing with lambda expression

results = filter(lambda num: num%2==0, listy)

In [48]:
list(results)

[0, 2, 4, 6, 8, 10]

In [49]:
# another example - filter out any num that is not greater than 3

results = filter(lambda num: num > 3, listy)

In [50]:
list(results)

[4, 5, 6, 7, 8, 9, 10]