Python has a Datetime module that will help you deal w timestamps in your code

In [1]:
import datetime

In [2]:
# we can create a timestamp with datetime.time(hour, mins, seconds, microseconds)

datetime.time(5, 25, 1)

datetime.time(5, 25, 1)

In [3]:
t = datetime.time(5, 25, 1)
print(t)

05:25:01

In [4]:
# we can pull out its components too

t.hour

5

In [5]:
t.minute

25

In [6]:
t.second

1

In [7]:
t.microsecond

0

In [8]:
# check min and max values for time of day in module - these represent the available times that will work

datetime.time.min

datetime.time(0, 0)

In [9]:
datetime.time.max

datetime.time(23, 59, 59, 999999)

In [10]:
datetime.time.resolution

datetime.timedelta(0, 0, 1)

In [11]:
# now looking at dates - this utilizes the date class

# attributes are year, month, and day

# we can use built in methods to extract today's date

today = datetime.date.today()

In [12]:
print(today)

2019-08-11

In [13]:
today.timetuple()

time.struct_time(tm_year=2019, tm_mon=8, tm_mday=11, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=223, tm_isdst=-1)

In [14]:
today.month

8

In [15]:
today.year

2019

In [16]:
today.day

11

In [17]:
# min and max possible dates

datetime.date.min

datetime.date(1, 1, 1)

In [18]:
datetime.date.max

datetime.date(9999, 12, 31)

In [20]:
print(datetime.date.resolution) # one day

1 day, 0:00:00

In [22]:
d1 = datetime.date(2015, 3, 11)

In [23]:
print(d1)

2015-03-11

In [24]:
# replace is a useful way to adjust these objects

d2 = d1.replace(year = 1990)

In [25]:
print(d2)

1990-03-11

In [26]:
# we can perform math with these dates too

d2 - d1 # returns difference in days between these two dates

datetime.timedelta(-9131)

In [28]:
d1.year - d2.year

25

In [30]:
# other useful methods

d1.ctime()

'Wed Mar 11 00:00:00 2015'

In [31]:
d1.toordinal()

735668